/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
 
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 52rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: -10%;
  left: 0;
  min-width: 100%;
  /*height: 52rem;*/
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* PICS MOSAIC & page profil */
.picsmosaic .pic{
	display: inline-block;
	width: 30%;
	margin-right: 5px;
}
.picsmosaic .pic img{
	width: 100%;
}
.picsmosaic .pic .pic_titre{
	text-align: center;
}
.picsmosaic .pic .pic_titre input{
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
	width: 100%;
	background: #E5E5E5;
	border: none;
}
.picsmosaic .pic .pic_titre small{
	font-size: 10px;
}

.archive-entry{
	display: table;
	margin-bottom: 5px;
	padding: 10px;
}
.archive-entry img.alignleft{
	margin: 0;
	padding: 0;
	margin-right: 20px;
}
a.list{
	color: inherit;
	text-decoration: none;
	display: block;
}
a.list:hover{
	background-color: #f7faff;
}

img.bt_del_pic{
	width: 24px!important;
	height: 24px;
	position: absolute;
	margin: 5px;
	cursor: pointer;
}

/**
 * 8.0 Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


/**
 * 12.1 Posts and pages
 */

.hentry {
	background-color: #fff;
	color: #697891;
	position: relative;
}

.hentry.has-post-thumbnail {
	padding-top: 0;
}

.hentry.sticky:not(.has-post-thumbnail) {
	padding-top: -webkit-calc(7.6923% + 24px);
	padding-top: calc(7.6923% + 24px);
}

.hentry + .hentry {
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.post-thumbnail {
	border: 0;
	display: block;
	margin-bottom: 2.4em;
}
.post-thumbnail img {
	display: block;
	margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
	opacity: 0.85;
}

.entry-header {
	padding: 0 7.6923%;
}

.entry-title {
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.1538;
	margin-bottom: 0.2em;
}

.entry-content,
.entry-summary {
	padding: 0 7.6923% 7.6923%;
}

.entry-content > :last-child,
.entry-summary > :last-child {
	margin-bottom: 0;
}

.entry-content,
.entry-summary,
.page-content,
.comment-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

.entry-content h1,
.entry-summary h1,
.page-content h1,
.comment-content h1 {
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.1538;
	margin-top: 1.8462em;
	margin-bottom: 0.9231em;
}

.entry-content h2,
.entry-summary h2,
.page-content h2,
.comment-content h2 {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.3636;
	margin-top: 2.1818em;
	margin-bottom: 1.0909em;
}

.entry-content h3,
.entry-summary h3,
.page-content h3,
.comment-content h3 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.3333;
	margin-top: 2.6667em;
	margin-bottom: 1.3333em;
}

.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.page-content h4,
.page-content h5,
.page-content h6,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.2;
	margin-top: 3.2em;
	margin-bottom: 1.6em;
}

.entry-content h5,
.entry-content h6,
.entry-summary h5,
.entry-summary h6,
.page-content h5,
.page-content h6,
.comment-content h5,
.comment-content h6 {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child,
.entry-summary > h1:first-child,
.entry-summary > h2:first-child,
.entry-summary > h3:first-child,
.entry-summary > h4:first-child,
.entry-summary > h5:first-child,
.entry-summary > h6:first-child,
.page-content > h1:first-child,
.page-content > h2:first-child,
.page-content > h3:first-child,
.page-content > h4:first-child,
.page-content > h5:first-child,
.page-content > h6:first-child,
.comment-content > h1:first-child,
.comment-content > h2:first-child,
.comment-content > h3:first-child,
.comment-content > h4:first-child,
.comment-content > h5:first-child,
.comment-content > h6:first-child {
	margin-top: 0;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a {
	border-bottom: 1px solid #333;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.page-content a:hover,
.page-content a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus {
	border-bottom: 0;
}

.entry-content a img,
.entry-summary a img,
.page-content a img,
.comment-content a img {
	display: block;
}

.entry-content .more-link,
.entry-summary .more-link:after {
	white-space: nowrap;
}

.entry-content .more-link:after,
.entry-summary .more-link:after {
	content: "\f429";
	font-size: 16px;
	position: relative;
	top: 5px;
}

